<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Patient - Dashboard</title>

  <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
  <script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
      
              <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
            
              <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
              <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
            
              <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
              <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>
            
              <!-- Add Firebase products that you want to use -->
              <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
              <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-firestore.js"></script>
              <!-- <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script> -->
              <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-storage.js"></script>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="stylesheets/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/patientLogin">Dashboard</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

   

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
      
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/patientLogin">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Home</span>
          
        </a>
           
    </li>

    <li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle" href="/patientHistory">
      <i class="fas fa-fw fa-table"></i>
      <span>History</span></a>
  </li>
  
     
     
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Home</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5" id="patientAddress"></div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">Address</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5" id="welcomeMsg"></div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        
        </div>

        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Prescription</div>
          <!-- <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div> -->
          <br>
          <center><h9>Drug Name : </h9><h10><div id="drugName"></div></h10></center>
          <br>
          <center><h9>Dosage Instruction : </h9><h10><div id="dosage"></div></h10></center>
          <br>
          <center><h9>Prescribed By : </h9><h10><div id="prescribedDoctor"></div></h10></center>
     
        </div>


        <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Share Data</div>

              <input type="text" placeholder="Input the Doctor Address To Share Data" value="0x6fa87a2be3cfe792e2349ab11b716365596fc372"  id="shareAddress"><br>
              <button onclick="encryptFile()">Encrypt the File For Doctor</button>
          
          </div>

          <form method="post" enctype="multipart/form-data">
            <br>
            Select the access revocation time
            <input type="text" name="expiry" id="accessRevocationTime">
            <label for="cars">Choose Expiry Time:</label>

            <select id="times">
              <option value="minute">Minute</option>
              <option value="hour">Hour</option>
              <option value="day">Day</option>
            </select>
            <br>
            Select the encrypted file to upload:
            <input type="file" name="uploadZip" id="uploadZip">
            <br>
            <input type="submit" value="Upload File & Give Access" name="submit">
        </form>

      

      </div>
      <!-- /.container-fluid -->

      <div class="card mb-3">

          <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Revoke Access</div>

              <button onclick="revokeAccess()">Revoke Access</button>

              </div>

      </div>

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>CPABE 2020</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" onclick="logOut()">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <!-- <script src="vendor/chart.js/Chart.min.js"></script> -->
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <!-- <script src="js/sb-admin.min.js"></script> -->

  <!-- Demo scripts for this page-->
  <script src="javascripts/demo/datatables-demo.js"></script>
  <!-- <script src="javascripts/demo/chart-area-demo.js"></script> -->
  <script src="javascripts/patientdashboard.js"></script>

  <script>

      var firebaseConfig = {
              apiKey: "AIzaSyB8Rukd1ICA3R0IKh5D5bSRpr5QqAzlCbE",
              authDomain: "test-file-save.firebaseapp.com",
              databaseURL: "https://test-file-save.firebaseio.com",
              projectId: "test-file-save",
              storageBucket: "test-file-save.appspot.com",
              messagingSenderId: "353026884480",
              appId: "1:353026884480:web:bd3f8e034dd26a784e7765"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
      
          
      
        
      
          var storage = firebase.storage();
      
              var form = document.querySelector("form");
      
              form.addEventListener("submit", function(event) {
                  event.preventDefault();
      
                  var timestamp = Number(new Date());
                  var storageRef = firebase.storage().ref(timestamp.toString());
      
                  var file = $("#uploadZip").prop("files")[0];
      
                  var uploadTask = storageRef.child('images/' + file.name).put(file);
      
                  uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                  function(snapshot) {
                      // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                      var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                      console.log('Upload is ' + progress + '% done');
                      switch (snapshot.state) {
                      case firebase.storage.TaskState.PAUSED: // or 'paused'
                          console.log('Upload is paused');
                          break;
                      case firebase.storage.TaskState.RUNNING: // or 'running'
                          console.log('Upload is running');
                          break;
                      }
                          }, function(error) {
                                  switch (error.code) {
                                      case 'storage/unauthorized':
                                          console.log('unauthorized');
                                      // User doesn't have permission to access the object
                                      break;
      
                                      case 'storage/canceled':
                                      // User canceled the upload
                                      break;
      
                                      case 'storage/unknown':
                                          console.log('unknown');
                                      // Unknown error occurred, inspect error.serverResponse
                                      break;
                                  }
                              }, function() {
                                  // Upload completed successfully, now we can get the download URL
                                  uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                                      console.log('File available at', downloadURL);
                                      alert ("File Uploaded");
                                      giveAccessToDoctor(downloadURL);  
                                  });
                              });
                });
      
      
          </script>

</body>

</html>
